:root{
    --main-font: Helvetica, Arial, sans-serif;
    --brand-color: #369;
    --main-text-color: black;
    --main-background-color: white;
    --secondary-text-color: white;
    --secondary-background-color:black;

}

.square{
    margin: 25px 0px 0px 0px;
    background-color: red;
    height: 30vh;
}

.space{
    margin-top: 40px;
}




.panel{
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    padding: 1em;
    border-radius: 0.5em;
    border:  1px solid #000000;
}

.panel > h2 {
    margin-top: 0;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

.dark{
    margin-top: 2em;
    padding: 1em;
    background-color: #999;
    --main-text-color: var(--secondary-text-color) ;
    --main-background-color: var(--secondary-background-color);
}


.panel-large{
    font-size: 1.2em;
}