
.panel{
    font-size: 1rem;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid#999;
}

.panel > h2 {
    margin-top: 0;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

.panel.large{
    font-size: 1.2rem;
}

.space{
    margin: 40px;
}

.square{
    width: 90vmin;
    height: 90vmin;
    background-color: #369;
}

.square-width{
    width: 100vw;   
    height: 100vh;
    background-color: red;
}

/* For Tablets */
@media (min-width: 800px){
    :root{
        font-size: 0.875em;
    }
}


/* For Large Devices */
@media (min-width: 1200px){
    :root{
        font-size: 1em;
    }
}